<ion-header>
  <ion-toolbar color="primary">
    <ion-title>EcoBlock Network</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToProfile()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="energy-trading" href="/tabs/energy-trading">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Energy</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="recycle-rewards" href="/tabs/recycle-rewards">
      <ion-icon name="trash-bin"></ion-icon>
      <ion-label>Recycle</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="eco-scan" href="/tabs/eco-scan">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>